* {
  box-sizing: border-box;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: fixed;
  /* width: cal(30%-20px); */
  width: 25%;
  min-width: 300px;
  top: 0;
  height: 100%;
  background-color: #fff;
  right: 0;
  z-index: 1;
  float: right;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden
}

.top_menu {
  background-color: #0084FF;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 598px;
  overflow: scroll;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.left .avatar {
  background-image: url("raw_resources/alfred_head_mod_2e6f85.jpg");
  background-size: contain;
  float: left;
}

.messages .message.left .text_wrapper {
  background-color: #EAEAEA;
  margin-left: 10px;
}

/* .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #c7eafc;
} */
.messages .message.left .text {
  color: #000000;
}
.messages .message.right .avatar {
  background-image: url("human.png");
  background-size: contain;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #0084FF;
  margin-right: 10px;
  float: right;
}
/* .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #ffe6cb;
} */
.messages .message.right .text {
  color: #EAEAEA;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  text-align: left;
  padding: 5px 13px;
  border-radius: 20px;
  /* width: calc(100% - 85px); */
  max-width: 200px;
  min-width: 30px;
  position: relative;
}
/* .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
} */
/* .messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
} */
/* .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
} */
.messages .message .text_wrapper .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 30px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 50px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: #000000;
}


.bottom_wrapper .send_message {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50px;
  background-color: #0084FF;
  border: 2px solid #0084FF;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #0084FF;
  background-color: #fff;
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

footer{
  position: absolute;
  bottom: 5px;
  right:5px;
  font-size:12px;
}

#collap {
  display: none;
}

.collp_lbl_toggle {
  cursor: pointer;
  transition: all 0.25s ease-out;
}

/* .top_menu .title .collp_lbl_toggle {
  display: block;




  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
} */

.collp_lbl_toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid currentColor;

  vertical-align: middle;
  margin-right: .8rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collp_lbl_toggle:hover {
  color: #bcbdc0;
}

/*effect-underline*/
/* .collp_lbl_toggle:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.collp_lbl_toggle:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

/* .collp_toggle:checked + .chat_window {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
} */