@font-face{ 
	font-family: 'batman-font';
	src: url('batman-font-kit/batmfa__-webfont.woff') format('woff');
	src: url('batman-font-kit/batmfa__-webfont.ttf') format('truetype')
}

#banner_title {
    font-family: 'batman-font';
    font-size: 4em;
    font-weight: 400;
}

#banner_icon {
    margin-right: 20px;
    height: 90px;
    width: 90px;
}
#planner_list_title{
        font-family: 'Trebuchet MS';
}
.gantt-target {
    left: 0;
    width: 75%;
}

.planner_list {
    position: fixed;
    bottom: 20px;
}

.planner_list img {
    width: 60px;
    height: 60px;
    display: none;
}

.planner_list ul {
    list-style-type: none;
    padding-left: 0;
    padding_up: 10px;
    min-height: 60px;
}

.planner_list li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.planner_template {
    display: none;
}
