@font-face{ 
	font-family: 'batman-font';
	src: url('batman-font-kit/batmfa__-webfont.woff') format('woff');
	src: url('batman-font-kit/batmfa__-webfont.ttf') format('truetype')
}

#banner_title {
    font-family: 'batman-font';
    font-size: 4em;
    font-weight: 400;
}

#banner_icon {
    margin-right: 20px;
    height: 90px;
    width: 90px;
}
#planner_list_title{
        font-family: 'Trebuchet MS';
}
.gantt-target {
    left: 0;
    width: 75%;
}

.planner_list {
    position: fixed;
    bottom: 20px;
}

.planner_list img {
    width: 60px;
    height: 60px;
    display: none;
}

.planner_list ul {
    list-style-type: none;
    padding-left: 0;
    padding_up: 10px;
    min-height: 60px;
}

.planner_list li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.planner_template {
    display: none;
}

#tgbtn_container {
    float: right;
	width: 160px;
	height: 36px;
    margin: auto;
    margin-left: 60px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.tgbtn_inner {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: .4em;
	letter-spacing: .2em;
}

.tgbtn_inner:first-child {
	background: #e9e9e9;
	color: #a9a9a9;
}

.tgbtn_inner:nth-child(2) {
	background: dodgerblue;
	color: white;
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.tgbtn {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.tgbtn p {
	margin: auto;
}

.tgbtn:nth-child(1) {
	right: 0;
}